body {
    margin: 0 auto;
    }


h1 {
    text-align: center;
    background-color: orange;
    font-family: "Garamond","Times New Roman",serif;
    margin-bottom: 8px;
    
}

li {
    font-weight: bold;
    font-size: 24px;
    font-family: "Arial", "Verdana", sans-serif;
}

.content {
    padding: 24px;
}

.recipe {
    display: inline-block;
    margin: 10px;
    border: solid black 4px;
    padding: 10px;
    background-color: lightblue;
}